# Virtual environments
venv/
env/
ENV/
pyenv/
etlenv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
logs/
*.log

# Airflow
airflow/logs/
airflow/*.db

# Environment variables
.env

# Data files (raw data should not be in git)
data/raw/*
data/processed/*

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Database credentials
config.ini

# Docker files
.docker-compose.yml
Dockerfile
.dockerignore

#Large files
.csv
.json
